<!DOCTYPE html>
<html>

<head>
	<!-- Use the 'title' property to render a page title  -->
	<title>List Subjects</title>
</head>

<body>
	<ul>
		<% notesArray.forEach(function(note) { %>
			<a href="/notes/<%= note.subject%>"><%= note.subject %></a><br>
			<% }); %>
	</ul>
</body>

</html>